<div class="card">
  <div class="card-header">
    Asociar Producto a Bodega
  </div>
  <div class="card-body">
    <form>
      <div class="mb-3">
        <label for="inputProduct">Producto</label>
        <input type="text" class="form-control" id="inputProduct" placeholder="Ingrese el producto">
      </div>
      <div class="mb-3">
        <label for="inputDescription">Descripción</label>
        <textarea class="form-control" id="inputDescription" rows="3" placeholder="Ingrese la descripción del producto"></textarea>
      </div>
      <div class="mb-3">
        <label for="inputBodega">Bodega</label>
        <select class="form-control" id="inputBodega">
          <option value="1">Bodega 1</option>
          <option value="2">Bodega 2</option>
          <option value="3">Bodega 3</option>
          <option value="4">Bodega 4</option>
          <option value="5">Bodega 5</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary">Agregar</button>
    </form>

    <table class="table table-bordered">
      <thead>
        <tr class="table-primary">
          <th scope="col">#</th>
          <th scope="col">Producto</th>
          <th scope="col">Descripción</th>
          <th scope="col">Bodega</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Consola de videojuegos</td>
          <td>Xbox Series X</td>
          <td>Bodega 1</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Consola de videojuegos</td>
          <td>PlayStation 5</td>
          <td>Bodega 1</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Celular</td>
          <td>Samsung Galaxy S23</td>
          <td>Bodega 4</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<footer class="footer">
  <div class="logop">
    <img src="./assets/img/Logo.png" alt="Logo de la empresa">
  </div>
  <p>Derechos de autor © 2023. Todos los derechos reservados.</p>
</footer>