<h1></h1>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Factura</title>
</head>

<body>
  <div class="container">
    <div class="invoice">
      <div class="invoice-header">
        <img src="./assets/img/Logo.png" alt="Logo de la empresa" class="img-rounded mx-auto d-block" style="max-width: 300px;">
      </div>

      <div class="invoice-header">
        <h2>Factura</h2>
      </div>

      <div class="invoice-details">
        <p>Fecha: 23 de Noviembre de 2023</p>
        <p>Cliente: John Orellana</p>
      </div>

      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Descripción</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Precio unitario</th>
            <th scope="col">Total</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>PlayStation 5</td>
            <td>2</td>
            <td>$700.00</td>
            <td>$1400.00</td>
          </tr>
          <tr>
            <td>Xbox Series S</td>
            <td>1</td>
            <td>$415.00</td>
            <td>$415.00</td>
          </tr>
        </tbody>
      </table>

      <div class="invoice-total">
        <p>Total: $1815.00</p>
      </div>

      <div class="text-center">
        <a href="/generador" class="btn btn-primary">Volver</a>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>

<footer class="footer">
  <div class="logop">
    <img src="./assets/img/Logo.png" alt="Logo de la empresa">
  </div>
  <p>Derechos de autor © 2023. Todos los derechos reservados.</p>
</footer>

</html>
